@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);
@import url(../../../undefined);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);




@primaryColor: #fc0e01;
@secondaryColor: #fc0e01;
@successColor: #fc0e01;
@infoColor: #b8312f;
@warningColor: #faaf40;
@dangerColor: #f28281;
@titleFont: undefined;
@subtitleFont: undefined;
@textFont: undefined;
@isRoundedButtons: true;
@isAnimatedOnScroll: true;
@isScrollToTopButton: true;
@isRtl: false;
// MIXINS

.button-variant(@background) {

    @color: #fff;
    @border: @background;

    @active-background: if(
        eq(@background, @color),
        #d4d4d4,
        darken(@background, 15%)
    );
    @active-color: @color;
    @active-border: @active-background;

    background-color: @background;
    border-color: @border;
    color: @color;

    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        color: @active-color;
        background-color: @active-background;
        border-color: @active-border;
    }

    &.disabled, &:disabled {
        color: @active-color !important;
        background-color: @active-background !important;
        border-color: @active-border !important;
    }

}

.button-outline-variant(@color) {

    @active-color: #fff;
    @active-background: @color;
    @new-color: if(
        eq(@color, @active-color),
        #fff,
        darken(@color, 20%)
    );

    background: none;
    border-color: @new-color;
    color: @new-color;

    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        color: @active-color;
        background-color: @active-background;
        border-color: @active-background;
    }

    &.disabled, &:disabled {
        color: @active-color !important;
        background-color: @active-background !important;
        border-color: @active-background !important;
    }

}

.plan-variant(@className, @color) {
    &@{className} {
        .mbr-plan-subtitle,
        .mbr-plan-price-desc {
            @max: max(red(@color), green(@color), blue(@color));
            & when (@max > 200) {
                color: lighten(@color, 40%);
            }
            & when (@max > 85) and (@max <= 200) {
                color: lighten(@color, 25%);
            }
            & when (@max > 50) and (@max <= 85) {
                color: lighten(@color, 45%);
            }
            & when (@max <= 50) {
                color: lighten(@color, 70%);
            }
        }
    }
}

.subtitleFont() {
    font-family: @subtitleFont;
    & when not(includes(@subtitleFont, 'Lora')) {
        font-style: normal;
    }
}

body, input, textarea,
.mbr-company .list-group-text {
    font-family: @textFont;
}
.mbr-footer-content, .mbr-footer .mbr-contacts {
    li {
        font-family: @textFont;
    }
}

.btn, .alert,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
    font-family: @titleFont;
}

.mbr-footer-content,
.mbr-footer .mbr-contacts {
    h1, h2, h3, h4,
    p strong, strong {
        font-family: @titleFont;
    }
}

.btn when(@isRoundedButtons) {
    border-radius: 1.6em;
}

.mbr-subscribe .btn when(@isRoundedButtons) {
    border-radius: 1.6em !important;
}

.btn-sm,
.lead a, .lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
    .subtitleFont();
}

.mbr-author {
    &-name { font-family: @titleFont; }
    &-desc { .subtitleFont(); }
}

.mbr-plan {
    &-title { font-family: @titleFont; }
    &-subtitle, &-price-desc {
        .subtitleFont();
    }
}

.bg-primary { background-color: @primaryColor !important; }
.bg-success { background-color: @successColor !important; }
.bg-info { background-color: @infoColor !important; }
.bg-warning { background-color: @warningColor !important; }
.bg-danger { background-color: @dangerColor !important; }

.btn-primary { .button-variant(@primaryColor); }
.btn-secondary { .button-variant(@secondaryColor); }
.btn-info { .button-variant(@infoColor); }
.btn-success { .button-variant(@successColor); }
.btn-warning { .button-variant(@warningColor); }
.btn-danger { .button-variant(@dangerColor); }

.btn-primary-outline { .button-outline-variant(@primaryColor); }
.btn-secondary-outline { .button-outline-variant(@secondaryColor); }
.btn-info-outline { .button-outline-variant(@infoColor); }
.btn-success-outline { .button-outline-variant(@successColor); }
.btn-warning-outline { .button-outline-variant(@warningColor); }
.btn-danger-outline { .button-outline-variant(@dangerColor); }

.text-primary { color: @primaryColor !important; }
.text-success { color: @successColor !important; }
.text-info { color: @infoColor !important; }
.text-warning { color: @warningColor !important; }
.text-danger { color: @dangerColor !important; }

.alert-success { background-color: @successColor; }
.alert-info { background-color: @infoColor; }
.alert-warning { background-color: @warningColor; }
.alert-danger { background-color: @dangerColor; }

.btn-social {
    border-color: @primaryColor;
    &:hover { background: @primaryColor; }
}

.mbr-company .list-group-item.active .list-group-text {
    color: @primaryColor;
}

.mbr-footer {
    p, ul {
        a {
            color: @primaryColor;
        }
    }
}
.mbr-footer-content, .mbr-footer .mbr-contacts {
    li {
        &::before { background: @primaryColor; }
        a:hover { color: @primaryColor; }
    }
}

.lead {
    a, a:hover { color: @primaryColor; }
    blockquote { border-color: @primaryColor; }
 }

.mbr-plan-header {
    .plan-variant(~'.bg-primary', @primaryColor);
    .plan-variant(~'.bg-success', @successColor);
    .plan-variant(~'.bg-info', @infoColor);
    .plan-variant(~'.bg-warning', @warningColor);
    .plan-variant(~'.bg-danger', @dangerColor);
}

.mbr-small-footer a,
.mbr-gallery-filter li:hover {
    color: @primaryColor;
}

.scrollToTop_wraper when not(@isScrollToTopButton) {
    display: none;
}
@isPublish: true;

#slider-2g {
H2 {
  font-size: 30px;
  font-family: 'Slabo 27px', serif;
}
P {
  text-align: right;
}
}

#content5-g {
.mbr-section-title, p {
  color: #fff;
}
}

#msg-box5-y {
.btn {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
SPAN {
  font-family: 'PT Serif', serif;
  font-size: 14px;
}
P {
  color: #ffffff;
  font-size: 16px;
}
H3 {
  color: #ffffff;
}
I {
  color: #ffffff;
}
}

#gallery3-d {
P {
  text-align: right;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: #f3c649;
}
.mbr-gallery-item > div > span {
  font-size: 13px;
}
}

#content1-22 {
P {
  text-align: left;
  color: #000000;
  font-size: 17px;
}
}

#footer1-2 {
P {
  text-align: center;
  font-size: 14px;
}
}

#ext_menu-u {
.hide-buttons .nav-btn {
  display: none !important;
}
.navbar-caption {
  color: #ffffff;
}
.navbar-toggler {
  color: #1c1010;
}
.close-icon::before, .close-icon::after {
  background-color: #1c1010;
}
.link, .dropdown-item {
  color: #1c1010;
}
.link {
  font-size: 0.85rem;
}
.dropdown-item, .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
.link:hover, .dropdown-item:hover, .link:focus, .dropdown-item:focus {
  color: #fc0e01;
}
.link[aria-expanded="true"], .dropdown-menu {
  background: #a8a8a8;
}
.nav-dropdown-sm .link:focus, .nav-dropdown-sm .link:hover, .nav-dropdown-sm .dropdown-item:focus, .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
.navbar, .nav-dropdown-sm, .nav-dropdown-sm .link[aria-expanded="true"], .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
.bg-color.transparent .link {
  color: #1c1010;
  transition: none;
}
.bg-color.transparent.opened .link {
  transition: color .2s ease-in-out;
}
.bg-color.transparent.opened .link:hover, .bg-color.transparent.opened .link:focus {
  color: #fc0e01;
}
.link[aria-expanded="true"], .dropdown-item[aria-expanded="true"] {
  color: #fc0e01!important;
}
.btn {
  font-size: 13px;
}
}

#facebook-comments-block-1m {
}

#social-buttons1-1u .mbr-section-title {
  color: #ffffff;
}
#footer1-1o P {
  text-align: center;
  font-size: 14px;
}
#ext_menu-1p .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1p .navbar-caption {
  color: #ffffff;
}
#ext_menu-1p .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1p .close-icon::before,
#ext_menu-1p .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1p .link,
#ext_menu-1p .dropdown-item {
  color: #ffffff;
}
#ext_menu-1p .link {
  font-size: 0.85rem;
}
#ext_menu-1p .dropdown-item,
#ext_menu-1p .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#ext_menu-1p .link:hover,
#ext_menu-1p .dropdown-item:hover,
#ext_menu-1p .link:focus,
#ext_menu-1p .dropdown-item:focus {
  color: #fc0e01;
}
#ext_menu-1p .link[aria-expanded="true"],
#ext_menu-1p .dropdown-menu {
  background: #000000;
}
#ext_menu-1p .nav-dropdown-sm .link:focus,
#ext_menu-1p .nav-dropdown-sm .link:hover,
#ext_menu-1p .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1p .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-1p .navbar,
#ext_menu-1p .nav-dropdown-sm,
#ext_menu-1p .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1p .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-1p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1p .bg-color.transparent.opened .link:hover,
#ext_menu-1p .bg-color.transparent.opened .link:focus {
  color: #fc0e01;
}
#ext_menu-1p .link[aria-expanded="true"],
#ext_menu-1p .dropdown-item[aria-expanded="true"] {
  color: #fc0e01!important;
}
#ext_menu-1p .btn {
  font-size: 13px;
}
#header3-1q .mbr-section-title,
#header3-1q .mbr-section-subtitle {
  text-align: center;
}
#header3-1q .mbr-section-subtitle B {
  color: #000000;
}
#header3-1q .mbr-section-subtitle {
  color: #000000;
}
#header3-1q .mbr-section-title {
  font-size: 24px;
}
#content8-20 .mbr-section-title,
#content8-20 p {
  text-align: right;
  color: #fff;
}
#content8-20 .mbr-section-title {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: #efefef;
  font-size: 24px;
}

#content8-1z .mbr-section-title,
#content8-1z p {
  text-align: right;
  color: #fff;
}
#content8-1z P {
  text-align: center;
}
#footer1-1w P {
  text-align: center;
  font-size: 14px;
}
#ext_menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1x .navbar-caption {
  color: #ffffff;
}
#ext_menu-1x .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1x .close-icon::before,
#ext_menu-1x .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1x .link,
#ext_menu-1x .dropdown-item {
  color: #ffffff;
}
#ext_menu-1x .link {
  font-size: 0.85rem;
}
#ext_menu-1x .dropdown-item,
#ext_menu-1x .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#ext_menu-1x .link:hover,
#ext_menu-1x .dropdown-item:hover,
#ext_menu-1x .link:focus,
#ext_menu-1x .dropdown-item:focus {
  color: #fc0e01;
}
#ext_menu-1x .link[aria-expanded="true"],
#ext_menu-1x .dropdown-menu {
  background: #000000;
}
#ext_menu-1x .nav-dropdown-sm .link:focus,
#ext_menu-1x .nav-dropdown-sm .link:hover,
#ext_menu-1x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-1x .navbar,
#ext_menu-1x .nav-dropdown-sm,
#ext_menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-1x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1x .bg-color.transparent.opened .link:hover,
#ext_menu-1x .bg-color.transparent.opened .link:focus {
  color: #fc0e01;
}
#ext_menu-1x .link[aria-expanded="true"],
#ext_menu-1x .dropdown-item[aria-expanded="true"] {
  color: #fc0e01!important;
}
#ext_menu-1x .btn {
  font-size: 13px;
}
#contacts2-1y STRONG {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#contacts2-1y P {
  font-size: 15px;
}

#footer1-26 P {
  text-align: center;
  font-size: 14px;
}
#ext_menu-27 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-27 .navbar-caption {
  color: #ffffff;
}
#ext_menu-27 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-27 .close-icon::before,
#ext_menu-27 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-27 .link,
#ext_menu-27 .dropdown-item {
  color: #ffffff;
}
#ext_menu-27 .link {
  font-size: 0.85rem;
}
#ext_menu-27 .dropdown-item,
#ext_menu-27 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#ext_menu-27 .link:hover,
#ext_menu-27 .dropdown-item:hover,
#ext_menu-27 .link:focus,
#ext_menu-27 .dropdown-item:focus {
  color: #fc0e01;
}
#ext_menu-27 .link[aria-expanded="true"],
#ext_menu-27 .dropdown-menu {
  background: #000000;
}
#ext_menu-27 .nav-dropdown-sm .link:focus,
#ext_menu-27 .nav-dropdown-sm .link:hover,
#ext_menu-27 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-27 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-27 .navbar,
#ext_menu-27 .nav-dropdown-sm,
#ext_menu-27 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-27 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-27 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-27 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-27 .bg-color.transparent.opened .link:hover,
#ext_menu-27 .bg-color.transparent.opened .link:focus {
  color: #fc0e01;
}
#ext_menu-27 .link[aria-expanded="true"],
#ext_menu-27 .dropdown-item[aria-expanded="true"] {
  color: #fc0e01!important;
}
#ext_menu-27 .btn {
  font-size: 13px;
}
#form1-28 .form-control-label {
  color: #ffffff;
}
#form1-28 .btn {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
#form1-28 .mbr-section-title SPAN {
  color: #fc0e01;
}
#form1-28 SMALL {
  color: #ffffff;
}
#header2-2d .mbr-section-text {
  text-align: left;
  font-size: 32px;
}
#header2-2d .mbr-section-title {
  text-align: left;
  font-size: 36px;
}
#gallery3-2f .mbr-gallery-item > div > span {
  font-size: 16px;
}
#gallery3-2f LI {
  color: #ffffff;
  text-align: left;
}
#footer1-29 P {
  text-align: center;
  font-size: 14px;
}
#ext_menu-2a .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2a .navbar-caption {
  color: #ffffff;
}
#ext_menu-2a .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2a .close-icon::before,
#ext_menu-2a .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2a .link,
#ext_menu-2a .dropdown-item {
  color: #ffffff;
}
#ext_menu-2a .link {
  font-size: 0.85rem;
}
#ext_menu-2a .dropdown-item,
#ext_menu-2a .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#ext_menu-2a .link:hover,
#ext_menu-2a .dropdown-item:hover,
#ext_menu-2a .link:focus,
#ext_menu-2a .dropdown-item:focus {
  color: #fc0e01;
}
#ext_menu-2a .link[aria-expanded="true"],
#ext_menu-2a .dropdown-menu {
  background: #000000;
}
#ext_menu-2a .nav-dropdown-sm .link:focus,
#ext_menu-2a .nav-dropdown-sm .link:hover,
#ext_menu-2a .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2a .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-2a .navbar,
#ext_menu-2a .nav-dropdown-sm,
#ext_menu-2a .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2a .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-2a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2a .bg-color.transparent.opened .link:hover,
#ext_menu-2a .bg-color.transparent.opened .link:focus {
  color: #fc0e01;
}
#ext_menu-2a .link[aria-expanded="true"],
#ext_menu-2a .dropdown-item[aria-expanded="true"] {
  color: #fc0e01!important;
}
#ext_menu-2a .btn {
  font-size: 13px;
}
#features1-2b .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #232121;
}
#features1-2b .mbr-cards-col:nth-child(odd) .card-text {
  color: #efefef;
}
#features1-2b .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
}
#features1-2b .mbr-cards-col:nth-child(even) .card-title {
  color: #c1c1c1;
}
#features1-2b .mbr-cards-col:nth-child(even) .card-subtitle {
  color: #cccccc;
}
#features1-2b .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
}
